# --- Dipendenze ---
/node_modules/
/.vscode/

# --- Build & Output ---
/tmp/
/.angular/

# --- IDE & Editor ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistemi Operativi ---
.DS_Store
Thumbs.db

# --- Log & Debug ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# --- Variabili d'ambiente ---
.env
.env.local